
.ul{
   
    display: flex;
    justify-content: space-between;
    width: 50%;
   
  
}


.li{
   
    list-style: none;
   
   
}
.activeLink{
    color: red;
}


.nav .logo{
    text-decoration: none; 
    font-size: 20px;
   font-weight: 600;
   display: none;
   
    

}
/* .nav img{
    width: 450px;
    height: auto;
    position: relative;
    margin-left: 20px;
    margin-bottom: 0;
} */
a{
    text-decoration: none;
}

.Header{
    /* background: rgb(233, 233, 233); */
    padding: 15px 0px 15px 0px;
    width: 100%;
    margin:0;
    display: flex;
    
}

.Header .nav{
   display: flex; 
   align-items: center;
   font-weight:500;
   width: 85%;
   margin: auto;
   justify-content: space-between;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #322081;
}
.Header .userNav{
    float: right;
    margin-right: 25px;
    font-weight: 500;
    color:#322081 ;
}

/* cat css */


/* .entry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  
  
  